@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
.cardContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
    background: url(/img/backgroundPublicaciones.svg);
    background-repeat:repeat-y;
   
}


.card{
    margin-top: 2rem;
}


.searchBar{
    position: relative;
    top:-3.5rem;
    margin-bottom: 1rem;
}

.encabezado{
    background: url(../assets/monedasHierba.jpg);
    background-repeat: no-repeat;
    height: 488px;
    background-position: 'center';
    background-size:cover ;
    background-repeat: 'no-repeat';
    position: relative;
}

.encabezado::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.textoPublicaciones {
  position: absolute;
  top:8rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-left: 1rem;
}

.textoPublicaciones h3{
    width: 16rem;
    color: #FDFDFE;

font-size: 1.75rem;
font-style: normal;
font-weight: 300;
line-height: 2rem; 
}
.textoPublicaciones h2{
    width: 16rem;
    color: #FDFDFE;
font-family: Lato;
font-size: 1.75rem;
font-style: normal;
font-weight: 500;
line-height: 2rem; 
}
.textoPublicaciones p{
    width: 15rem;
    color:  #FDFDFE;
font-family: Lato;
font-size: 1.5rem;
font-style: normal;
font-weight: 400;
line-height: 2rem; 
}